
<div class = 'container'>

<div class= 'row'>

<div id='toggler' class= 'row'>
    <div class="col stuff">
      <input type="radio" name="cool" value="scatter" id="scatter" class ="type_of_chart" checked>
      <label for="scatter">Scatter</label>
      <input type="radio" name="cool" value="pie" id="pie" class ="type_of_chart">
      <label for="pie">Pie</label>
    </div>
    <div class= "col stuff">
     <input type="radio" name="radios" value="2010" id="2010" class ="year">
      <label for="2010">2010</label>
    <input type="radio" name="radios" value="2011" id="2011" class ="year" >
      <label for="2011">2011</label>
    <input type="radio" name="radios" value="2012" id="2012" class ="year" checked>
      <label for="2012">2012</label>
    </div>
</div>



<div class ="row">

<div class="col menu"><h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h3></div>

<div id='data_area' class="col content"></div>

<div class="col sidebar">
  <h3 id="month_name">Month</h3>
  <h4 id="top_movie">Top Movie</h4>
  <div id="movie_poster"></div>
  <div class="row">
    <div class="col info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div>
    <div class="col info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div>
  </div>
</div>

</div>



</div> <!-- row -->
</div> <!-- container -->




