
<div class = 'container'>

<div class= 'row'>



<div class ="row">


<div id='data_area' class="col content"></div>

<div class="col sidebar">
  <div class="row">
    <div class="col">
      <h3 id="month_name">Month</h3>
    </div>
  </div>

  <div class="row">
    <div class="col info"><div id="movie_poster"></div></div>
    <div class="col info" id="stats">
      <li>Top Movie: <h4 id="top_movie" ></h4></li>
      <li>Number off Movies Released:<h4 id="number_of_movies_released"></h4></li>
      <li>Total Month Gross:<h4 id="total_month_gross"></h4></li>
      <li>Average Gross:<h4 id="average_gross"></h4></li>
      <li>Average Drop on Second Weekend:<h4 id="average_drop"></h4></li>
      <li>Percent of Year Total:<h4 id="percent_of_year"></h4></li>
    </div>
  </div>
</div>

</div>

<div id='toggler' class= 'row'>
    <div class="col stuff">
      <input type="radio" name="cool" value="scatter" id="scatter" class ="type_of_chart" checked>
      <label for="scatter">Scatter Chart</label>
      <input type="radio" name="cool" value="pie" id="pie" class ="type_of_chart">
      <label for="pie">Pie Chart</label>
    </div>
    <div class= "col stuff">
     <input type="radio" name="radios" value="2010" id="2010" class ="year">
      <label for="2010">2010</label>
    <input type="radio" name="radios" value="2011" id="2011" class ="year" >
      <label for="2011">2011</label>
    <input type="radio" name="radios" value="2012" id="2012" class ="year" checked>
      <label for="2012">2012</label>
    </div>
</div>





</div> <!-- row -->
</div> <!-- container -->




