
<div class = 'container'>
<!-- <h1>Movie Data By the Month</h1> 
<h2 id="month_pie">Pie Chart</h2> -->
<!-- <h4 id="2010" class="year">2010</h4>
<h4 id="2011" class="year">2011</h4>
<h4 id="2012" class="year">2012</h4> -->

<!-- <div id='side_bar' class='two columns'>
  <h3>Box Office</h3>
  <div>
    <h4>By Month</h4>
      <div>
        <h5>Year</h5>
      </div>
  </div>

</div> -->


<div class='three columns' id='toggler'>

      <input type="radio" name="cool" value="scatter" id="scatter" class ="type_of_chart" checked>
      <label for="scatter">Scatter</label>
      <input type="radio" name="cool" value="pie" id="pie" class ="type_of_chart">
      <label for="pie">Pie</label>
</div>
<div class='thirteen columns' id='butt'>
     <input type="radio" name="radios" value="2010" id="2010" class ="year">
      <label for="2010">2010</label>
    <input type="radio" name="radios" value="2011" id="2011" class ="year" >
      <label for="2011">2011</label>
    <input type="radio" name="radios" value="2012" id="2012" class ="year" checked>
      <label for="2012">2012</label>

    <g class="axis" transform="translate(0,280)">
</div>

<div class='two columns'>Hello</div>

<div id='data_area' class='ten columns'></div>

<div id='info_area' class='three columns'>
  <h3 id="month_name">Month</h3>
  <h4 id="top_movie">Top Movie</h4>
  <div id="movie_poster"></div>
</div>









 

</div>
</div>

