<!DOCTYPE html>
<html>
<head>
  <title>FilmGraphs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<!-- <div id="header" class="row col">
  <h3 id="title">FilmGraphs</h3>
</div> -->
<body>

<%= yield %>

</body>
</html>
